<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Food Reviews</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Food Reviews</h1>
    <h2>From TheReportOfTheWeek</h2>

    <div class="card-container">
      {% for food in foods %}
      <a href="{{ url_for('reviews', id=food.id) }}" class="card-link">
        <div class="card">
          <img src="{{ food.image }}" alt="{{ food.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ food.name }}</h5>
            <p class="card-text">By {{ food.company }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</body>
</html>